eBay_pass=your_ebay_password
CHROME_USER_DATA_DIR=C:/ChromeAutomationProfile

SENDER_EMAIL=sender@example.com
TO_EMAIL=recipient1@example.com,recipient2@example.com
CC_EMAIL=cc1@example.com,cc2@example.com

DB_TABLE_PENDING=PendingOffers
DB_TABLE_AGED=AgedInventory

EBAY_COMMISSION=0.091
MIN_DISCOUNT=0.95
MAX_DISCOUNT=0.9
MIN_PROFIT=0.1
BRANDS=Brand1,Brand2,Brand3
